body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Arial', sans-serif;
}

.play-board {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(30, 20px);
  gap: 1px;
  border: 2px solid #61dafb;
}

.food,
.head {
  width: 100%;
  height: 100%;
  background-color: #61dafb;
  border-radius: 4px;
}

.food {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.head {
  background-color: #61dafb;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: row;
  }

  .play-board {
    max-width: 100%;
    margin: 10px; /* Add space around the board */
  }

  .arrow-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
  }

  .arrow {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    color: #61dafb;
    transition: color 0.3s ease;
  }

  .arrow:hover {
    color: #ff8c00;
  }
}
